@media (max-width: 768px) {
    body {
        background-image: url('../assets/home/background-home-tablet.jpg') !important;
    }

    #menu .logo {
        margin-left: 30px;
    }

    .line {
        display: none;
    }

    #menu ul {
        width: 53%;
        height: 100px;
        line-height: 66px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #menu ul .active {
        border-bottom: 2px solid #fff;
    }

    #menu ul li {
        padding: 1.6rem;
    }

    #menu ul li a b {
        display: none;
    }

    #content-home {
        width: 80%;
        flex-direction: column;
        align-items: center;
        margin: 120px auto;
        text-align: center;
    }

    #content-home .article {
        width: 70%;
    }

    #content-home .article .title {
        font-size: 140px;
        margin-top: 10px;
    }

    #content-home .article .description {
        font-size: 16px;
        line-height: 25px;
    }

    #content-home .explore {
        margin-top: 50px;
    }
}


@media (min-width: 375px) and (max-width: 425px) {

    body {
        background-image: url('../assets/home/background-home-mobile.jpg') !important;
    }

    #menu .logo {
        height: 50px;
        width: 50px;
        margin-top: 26px;
        margin-left: 30px;
    }

    #menu ul {
        display: none;
    }

    #menu .menu-button {
        display: block;
    }

    #menu .menu-button button {
        border: 0px;
        margin-top: 34px;
        margin-right: 15px;
        background: transparent;
    }

    #menu .menu-button button img {
        width: 33px;
    }

    #content-home .article {
        width: 100%;
    }

    #content-home .article .span-home {
        font-size: 16px;
    }

    #content-home .article .title {
        font-size: 80px;
    }

    #content-home .article .description {
        font-size: 15px;
        /* line-height: 10px; */
    }

    #content-home .hover-explore {
        width: 170px;
        height: 170px;
    }

    #content-home .hover-explore .text-explore {
        width: 170px;
        height: 170px;
        line-height: 173px;
        font-size: 20px;
    }

}