@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Bellefair-Regular.otf');
}
:root{
    --negro: #0B0D17;
    --moradito: #D0D6F9;
    --blanco: #FFFFFF;
    --gris: #28292b;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Bellefair', serif;

    color: var(--blanco);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{ 
    color: var(--blanco);
}
a:visited {
    color: #fff;
}

/** Menu */
#body-home {
    background-image: url('../assets/home/background-home-desktop.jpg');
}

#menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;
}

#menu .logo {
    width: 60px;
    height: 60px;
    margin-left: 35px;
    margin-top: 20px;
}

#menu .logo img {
    width: inherit;
}

#menu ul {
    background-color: rgba(67, 67, 67, 0.509);
    backdrop-filter: blur(3px);
    width: 50%;
    height: 70px;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 2.4rem;
    color: var(--blanco);
    font-size: 16px;
    letter-spacing: 2px;
    
}

#menu ul li a {
    text-decoration: none;
}

#menu ul .active{
    border-bottom: 2px solid var(--blanco);
}
#pre-modal .modal .button-group ul .active {
    border-right: 3px solid var(--blanco);
}

.line {
    width: 500px;
    height: 0.1px;
    background-color: grey;
    margin-top: 52px;
    margin-left: 160px;
    position: absolute;
    z-index: 1;
}

#menu .menu-button {
    display: none;
    z-index: 1;
}

#content-home {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 130px;
}

#content-home .article {
    width: 30%;
    color: #fff;
}

#content-home .explore {
    margin-top: -40px;
}

#content-home .hover-explore { 
    width: 410px;
    height: 410px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
}

#content-home .hover-explore:hover {
    background-color: rgb(124 124 124 / 32%);
}

#content-home .text-explore:hover {
    cursor: pointer;
}

#content-home .explore .text-explore {
    background-color: #fff;
    width: 274px;
    height: 274px;
    text-transform: uppercase;
    font-family: 'Bellefair';
    border-radius: 50%;
    text-align: center;
    line-height: 274px;
    font-size: 32px;
    color: var(--negro);
}

#content-home .span-home {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 2px;
    color: var(--moradito);
}

#content-home .title {
    font-family: 'Bellefair';
    font-size: 130px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 400;
}

#content-home .description {
    font-family: 'Barlow Condensed';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: var(--moradito);
    line-height: 21px;
}

/* DESTINATION */

/** TECHNOLOGY */
#body-technology {
    background-image: url('../assets/technology/background-technology-desktop.jpg');
}
.title {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    text-transform: uppercase;
    color: var(--blanco);
    letter-spacing: 4.75px;
    margin-left: 12%;
    margin-bottom: 7%;
}

.title span {
    color: var(--gris);
    font-weight: bold;
}

#technologies .technology {
    display: flex;
    width: 90%;
    height: 290px;
    float: right;
}

#technologies .technology .pages {
    width: 10%;
    height: inherit;
    font-family: 'Bellefair';
    
}

#technologies .technology .pages ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#technologies .technology .pages ul li:hover {
    border: 1px solid var(--moradito);
}

#technologies .active {
    background-color: var(--blanco) !important;
    color: var(--negro) !important;
    transition: all 700ms;
}

#technologies .technology .pages ul li {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 25px;
    color: var(--blanco);
    border: 1px solid var(--gris);
    cursor: pointer;
}

#technologies .technology .tech-info {
    width: 56%;
    height: inherit;
    box-sizing: border-box; 
    padding: 27px 140px 32px 80px;
    color: var(--blanco);
}

#technologies .technology .tech-info span {
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
    letter-spacing: 2.9px;
    color: var(--moradito);
}

#technologies .technology .tech-info .title-technology {
    font-family: 'Bellefair';
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#technologies .technology .tech-info .technology-description {
    font-family: 'Barlow Condensed';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
    color: var(--moradito);
}

#technologies .technology .technology-image { 
    width: 30%;
    position: absolute;
    right: 0px;
    top: 190px;
}
#technologies .technology .technology-image img {
    width: 100%;
}


/** CREW */
.background-crew {
    background: url("../assets/crew/background-crew-desktop.jpg");
    background-position: top 0px left 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/** Contenido */
.contenedor{
    width: 1100px;
    margin: auto;
    display: flex;
}

.title span {
    color: var(--gris);
    font-weight: bold;
}