@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Bellefair-Regular.otf');
}
:root{
    --negro: #0B0D17;
    --moradito: #D0D6F9;
    --blanco: #FFFFFF;
    --gris: #28292b;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Bellefair';
}

/** HOME */
.background-home {
    background-image: url('../assets/home/background-home-desktop.jpg');
    background-position: top 0px left 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
iframe {
    width: 100%;
}

#menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;
}

#menu .logo {
    width: 90px;
    height: 90px;
    margin-left: 20px;
}

#menu .logo img {
    display: block;
    margin: 0px auto;
    margin-top: 30px;
}

#menu ul {
    background-color: rgba(67, 67, 67, 0.509);
    backdrop-filter: blur(3px);
    width: 50%;
    height: 70px;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 2.4rem;
    color: var(--blanco);
    font-size: 16px;
    letter-spacing: 2px;
    
}

#menu ul li a {
    text-decoration: none;
}

#menu ul li a:visited {
    color: #fff;
}

#menu ul .active{
    border-bottom: 2px solid #fff;
}

.line {
    width: 500px;
    height: 0.1px;
    background-color: grey;
    margin-top: 52px;
    margin-left: 160px;
    position: absolute;
    z-index: 1;
}

/* DESTINATION */

.background-destination {
    background: url("../assets/destination/background-destination-desktop.jpg");
    color: var(--blanco);
}

.titulo{
    margin: 4rem 10rem 0 ;
    font-weight: 400;
    font-size: 3.5rem;
    
}
.titulo span{
    color: var(--gris);
    font-weight: bold;
}
.contenido__destino img{
    margin: 9rem 15rem;
}

.contenedor{
    display: flex;
    /* align-items: center; */
    /* justify-content: center;
    gap: 10rem; */
}

.contenedorMain{
    margin-top: 5rem;
    /* border: 1px solid; */
}
.contenedorMain__nav a{
    text-decoration: none;
    color: var(--blanco);
    font-weight: 500;
    margin-right: 4rem;
    text-transform: uppercase;
}
.contenedorMain h1{
    font-size: 10rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    /* border: 1px solid; */

}
.contenedorMain__parrafo{
    line-height: 2;
    width: 75%;
    margin-top: 0;
    /* border: 1px solid; */
}
.contenedorMain__linea{
    width: 75%;
    height: .1rem;
    background-color: var(--gris);
    border: none;
    /* margin: 6rem 0 0 0; */
}
.contenedorMain_info{
    display: flex;
    margin: 3rem 0;
}
.contenedorMain_info--dat{
    display: flex;
    flex-direction: row;
}
.info{
    font-size: 3rem;
    font-weight: 400;
}
.espacio{
    margin-left: 5rem;
}

/** TECHNOLOGY */
.background-technology {
    background: url("../assets/technology/background-technology-desktop.jpg");
    background-position: top 0px left 0px;
    background-repeat: no-repeat;
}